{% extends 'baseback.html.twig' %}

{% block title %}commentaire{% endblock %}

{% block content1 %}
<center>
    <h1>commenter</h1>

    {{ include('comment/_form.html.twig') }}

   <a href="{{ path('app_comment_index') }}">Retour</a>
</center>
{% endblock %}
