{% extends 'base.html.twig' %}

{% block title %}New SinisterProperty{% endblock %}

{% block body %}
    <h1>Create new SinisterProperty</h1>

    {{ include('sinister_property/_form.html.twig') }}


{% endblock %}
