{% extends 'baseback.html.twig' %}

{% block title %}Modifier Categorie{% endblock %}

{% block content1 %}
    <center>
    <h1>Modifier Categorie</h1>

    {{ include('categorie/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('app_categorie_index') }}">Retour</a>

    {{ include('categorie/_delete_form.html.twig') }}
    </center>

{% endblock %}
