{% extends 'base.html.twig' %}

{% block title %}Noveau Categorie{% endblock %}

{% block body %}
    <h1>Cree Un Noveau Categorie</h1>

    {{ include('categorie/_form.html.twig') }}

    <a href="{{ path('app_categorie_index') }}">Retour</a>
{% endblock %}
